@* @model AMS.Models.UserMasterModel
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_CssScriptPartial")
    @RenderSection("Styles", required: false)
</head>
<body> *@
    <style>
        header#page-topbar {
            margin-left: -248px;
        }
    </style>
    <header id="page-topbar">
        <div class="layout-width">
            <div class="navbar-header">
                <div class="d-flex header-search">

                    <!-- LOGO -->
                    <div class="navbar-brand-box horizontal-logo">
                        @* <a href="@Url.Action("Index", "Dashboard")" class="logo logo-dark"> *@
                        <span class="logo-sm">
                            <img src="~/Lib/images/AMS.png" alt="" height="80px">
                        </span>
                        <span class="logo-lg">
                            @* <img src="~/Lib/images/logo11111.png" alt="" height="57"> *@
                        </span>
                        </a>

                        @* <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light"> *@
                        <span class="logo-sm">
                        </span>
                        <span class="logo-lg">
                            <span class="logo-lg">
                                @* <img src="~/Lib/images/sidebarlogo.png" alt="" height="57"> *@
                            </span>
                    </div>
                    <form class="app-search d-none d-md-block">
                        <div class="position-relative">

                            <input type="text" class="form-control" placeholder="Search" autocomplete="off" id="search-options" value="">

                            <span class="mdi mdi-magnify search-widget-icon"></span>
                            <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none" id="search-close-options"></span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                            <div data-simplebar style="max-height: 320px;">
                                <!-- item-->
                                <div class="dropdown-header">
                                    <h6 class="text-overflow text-muted mb-0 text-uppercase">Recent Searches</h6>
                                </div>

                                <div class="dropdown-item bg-transparent text-wrap">
                                    <a href="/Common/Table?table=Dashboard" class="btn btn-soft-secondary btn-sm rounded-pill">Dashboard <i class="mdi mdi-magnify ms-1"></i></a>
                                    <a href="/Common/Table?table=Lead" class="btn btn-soft-secondary btn-sm rounded-pill">Go To Leads <i class="mdi mdi-magnify ms-1"></i></a>
                                </div>

                                <!-- item-->
                                <div class="dropdown-header mt-2">
                                    <h6 class="text-overflow text-muted mb-2 text-uppercase">Leads</h6>
                                </div>

                                <div class="notification-list" id="divLeads">
                                </div>
                            </div>

                            <div class="text-center pt-3 pb-1">
                                <a href="/Common/Table?table=Lead" class="btn btn-primary btn-sm">View All Leads <i class="ri-arrow-right-line ms-1"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button class="btn d-flex align-items-center p-0 border-0 bg-transparent"
                            id="page-header-user-dropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="~/Lib/images/avatar-design.png"
                             alt="Header Avatar"
                             class="rounded-circle me-2"
                             width="40" height="40">
                        <span class="d-none d-xl-block text-start">
                            @if (User.Identity.IsAuthenticated)
                            {
                            <span class="fw-semibold text-white">@(User?.FindFirst("FirstName")?.Value ?? "Guest") @(User?.FindFirst("LastName")?.Value ?? "Guest") </span>

                                <br />
                            <small class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">
                                @(User?.FindFirst("RoleName")?.Value ?? "Guest")
                            </small>
                        }
                            
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 mt-2">

                        <li>
                            <a class="dropdown-item" href="javascript:ams.common.ChangePassword()">
                                <i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-changepassword">Change Password</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </header>

 @*    <main>
        @RenderBody()
        @await Html.PartialAsync("_FooterPartial")

    </main>
    @await Html.PartialAsync("_ScriptPartial")
    @{
        await (Html.RenderPartialAsync("_ValidationScriptsPartial"));
    }
    @RenderSection("Scripts", required: false)
</body>
</html> *@