<!DOCTYPE html>
<html lang="en">
<head>

    @await Html.PartialAsync("_CssScriptPartial")
    @RenderSection("Styles", required: false)
</head>

<body>
    <div id="layout-wrapper">
         <partial name="_HeaderLayout" />  
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-start justify-content-start">

                            <div class="row">
                                <div class="col">
                                    <div class="h-100">
                                        <div class="row mb-3 pb-1">
                                            <div class="col-12 bg-white py-3">
                                                <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                    <div class="flex-grow-1">
                                                        <h4 class="fs-16 mb-1">Good Morning !</h4>
                                                        <p class="text-muted mb-0">Here's what's happening In AMS Community.</p>
                                                    </div>
                                                    

                                                </div><!-- end card header -->
                                            </div>
                                            <!--end col-->
                                        </div>

                                        <!--H-->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                               


                            @* <h4 class="mb-sm-0">@ViewBag.ptitle</h4> *@
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    @* <li class="breadcrumb-item"><a href="javascript: void(0);">@ViewBag.pagetitle</a></li> *@
                                    @* <li class="breadcrumb-item active">@ViewBag.ptitle</li> *@
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- start Lodaer -->
                @* <div class="preloader">
                    <div class="multi-spinner-container">
                        <div class="multi-spinner">
                            <div class="multi-spinner">
                                <div class="multi-spinner">
                                    <div class="multi-spinner">
                                        <div class="multi-spinner">
                                            <div class="multi-spinner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
                <!-- end Lodaer -->
                @RenderBody()
                <!-- Modal Code Start-->
            @await Html.PartialAsync("_ModalPopupPartial") 
                <!-- Modal Code End-->
            </div>
        </div>
        @await Html.PartialAsync("_FooterPartial")
    </div>
    <!-- END layout --> 
    @await Html.PartialAsync("_ScriptPartial")
    @{
        await (Html.RenderPartialAsync("_ValidationScriptsPartial"));
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
<!-- #region name -->



<!-- #endregion -->
  @*   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@

