@model AMS.Models.UserMasterModel
@{
    // Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewData["Title"] = "Login";
    // Layout = "_HeaderLayout";
}


 <div class="col-xxl-2 col-xl-2 col-md-2">
        <!--Start offcanvas-->
        <!--end offcanvas-header-->
        @* @* <form class="d-flex flex-column justify-content-end h-100"> *@
          
            <div class="offcanvas-body">
                <div class="">
                    <div class="w-100">
                        <!--end offcanvas-body-->
                        <div class="filter-btn">
                            <a href="/Common/Table?table=User" class="btn">Filter</a>
                            <i class="fa-solid fa-filter"></i>
                            @* <button type="submit" class="btn btn-primary w-100">Filters</button> *@
                        </div>
                    </div>
                </div>
                <!-- Accordions Bordered -->
                <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">
                    
                        <div class="mb-2">
                            <div class="accordion-item" id="BranchMasterbox">
                                <h2 class="accordion-header text-dark">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_BranchMasterbox" aria-expanded="true" aria-controls="accor_BranchMasterboxx">
                                        Add Users
                                    </button>
                                </h2>
                                <div id="accor_BranchMasterbox" class="accordion-collapse collapse filterheight" aria-labelledby="BranchMasterbox" data-bs-parent="#accordionBordered">
                                    <div class="accordion-body">
                                  @*       @foreach (var item in Model.BranchList)
                                        {
                                            string data = "BranchMaster" + AppCommon.EncodeString(item.Value);
                                            bool isChecked = Model.TempFilterModel.BranchMaster.Contains(item.Value);
                                            <div class="ml-1 mt-1" onclick="SnjCrm.Common.OnFilterClick('@data')">
                                                <input class="form-check-input" type="checkbox" value="@item.Value" id="@(data)" @(isChecked ? "checked" : "")>
                                                <label class="pnl-body @(data) pointermouse data-hover BranchMaster @(isChecked ? "filter" : "")" style="margin-bottom:0px">
                                                    <input type="hidden" class="dataValue" value="@item.Value" />
                                                    <span class="dataText">@item.Text</span>
                                                </label>
                                            </div>
                                        } *@
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="mb-2">
                        <div class="accordion-item" id="RoleMasterbox">
                            <h2 class="accordion-header text-dark">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_RoleMasterbox" aria-expanded="true" aria-controls="accor_RoleMasterboxx">
                                    Role
                                </button>
                            </h2>
                            <div id="accor_RoleMasterbox" class="accordion-collapse collapse filterheight" aria-labelledby="RoleMasterbox" data-bs-parent="#accordionBordered">
                                <div class="accordion-body">
                                  @*   @foreach (var item in Model.RoleList)
                                    {
                                        string data = "RoleMaster" + AppCommon.EncodeString(item.Value);
                                        bool isChecked = Model.TempFilterModel.RoleMaster.Contains(item.Value);
                                        <div class="ml-1 mt-1" onclick="SnjCrm.Common.OnFilterClick('@data')">
                                            <input class="form-check-input" type="checkbox" value="@item.Value" id="@(data)" @(isChecked ? "checked" : "")>
                                            <label class="pnl-body @(data) pointermouse data-hover RoleMaster @(isChecked ? "filter" : "")" style="margin-bottom:0px">
                                                <input type="hidden" class="dataValue" value="@item.Value" />
                                                <span class="dataText">@item.Text</span>
                                            </label>
                                        </div>
                                    } *@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <div class="accordion-item" id="SessionCompletedbox">
                            <h2 class="accordion-header text-dark">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_SessionCompletedbox" aria-expanded="true" aria-controls="accor_SessionCompletedboxx">
                                    Active
                                </button>
                            </h2>
                            <div id="accor_SessionCompletedbox" class="accordion-collapse collapse filterheight" aria-labelledby="SessionCompletedbox" data-bs-parent="#accordionBordered">
                                <div class="accordion-body">
                                  @*   @foreach (var item in Model.ActiveInActiveList)
                                    {
                                        string data = "SessionCompleted" + AppCommon.EncodeString(item.Value);
                                        bool isChecked = Model.TempFilterModel.SessionCompleted.Contains(item.Value);
                                        <div class="ml-1 mt-1" onclick="SnjCrm.Common.OnFilterClick('@data')">
                                            <input class="form-check-input" type="checkbox" value="@item.Value" id="@(data)" @(isChecked ? "checked" : "")>
                                            <label class="pnl-body @(data) pointermouse data-hover SessionCompleted @(isChecked ? "filter" : "")" style="margin-bottom:0px">
                                                <input type="hidden" class="dataValue" value="@item.Value" />
                                                <span class="dataText">@item.Text</span>
                                            </label>
                                        </div>
                                    } *@
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="mb-2">
                        <div class="accordion-item" id="Gendertbox">
                            <h2 class="accordion-header text-dark">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_Gendertbox" aria-expanded="true" aria-controls="accor_Gendertboxx">
                                    Gender
                                </button>
                            </h2>
                            <div id="accor_Gendertbox" class="accordion-collapse collapse filterheight" aria-labelledby="Gendertbox" data-bs-parent="#accordionBordered">
                                <div class="accordion-body">
                             @*        
                                    @foreach (var item in Model.GenderList)
                                    {
                                        string data = "Gender" + AppCommon.EncodeString(item.Value);
                                        bool isChecked = Model.TempFilterModel.Gender.Contains(item.Value);
                                        <div class="ml-1 mt-1" onclick="SnjCrm.Common.OnFilterClick('@data')">
                                            <input class="form-check-input" type="checkbox" value="@item.Value" id="@(data)" @(isChecked ? "checked" : "")>
                                            <label class="pnl-body @(data) pointermouse data-hover Gender @(isChecked ? "filter" : "")" style="margin-bottom:0px">
                                                <input type="hidden" class="dataValue" value="@item.Value" />
                                                <span class="dataText">@item.Text</span>
                                            </label>
                                        </div>
                                    } *@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--end offcanvas-body-->
            <div class="offcanvas-footer border-top p-3 text-center hstack gap-2">
                <button class="btn btn-light w-100">Clear Filter</button>
                @* <button type="submit" class="btn btn-primary w-100">Filters</button> *@
            </div>
    </div>

 @* 
<div class="col-xxl-10 col-xl-10 col-md-10 col-sm-12">
    <div class="card" id="leadsList">
        <div class="card-header d-flex align-items-center">
            <h5 class="card-title mb-0 flex-grow-1"></i>Users</h5>
            <div class="d-flex me-4 gap-4">
                <button type="button" class="btn btn-primary btn-sm add-btn w-100" id="addNewEmployeeBtnId" onclick="SnjCrm.User.Add()"><i class="ri-add-line align-bottom me-1"></i> Add User</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-lead ">
                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 table-container tblscrollFixed dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar" style="overflow: auto;background-color: white">
                    <table id="userTableId" class="table table-bordered nowrap table-striped align-middle snj-table" style="width:100%">
                        <thead class="fixedthead table-light">
                            <tr>
                                <th class="sort"><b>User Name</b></th>
                                <th class="sort"><b>Branch</b></th>
                                <th class="sort"><b>Role</b></th>
                                <th class="sort"><b>First Name</b></th>
                                <th class="sort"><b>Last Name</b></th>
                                <th class="sort"><b>Contact Number</b></th>
                                <th class="sort"><b>Status</b></th>
                                <th data-sort="action"><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot id="tablefoxot" class="highlight" style="background-color:darkgray;overflow-y:scroll">
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
 *@